<h2>Successfully saved user</h2>

<p>Name: <%= @ex_form[:first_name].data %></p>
<p>Age: <%= @ex_form[:age].data %></p>
<p>Email: <%= @ex_form[:email].data %></p>
<p>Memo: <%= @ex_form[:memo].data %></p>
